.text{
    text-align: center;
}
.header{
    color: black;
    background-color: #8B0000;
}
.text1{
    text-align: center;
}
.block1{
    color: black;
    background-color: #206dfc;
    width: 100%;
    height:750px;
}
*{
    margin: 0;
}
.block2{
    color: black;
    background-color: white;
    text-align: center;
    margin-left: 19%;
    margin-right: 19%;
    font-size: small;
    height: 500px;
}
.Name{
    margin-top: 80px;
    width: 400px;
    height: 40px;
}
.Contact{
    margin-top: 40px;
    width: 400px;
    height: 40px;
}
.Company{
    margin-top: 40px;
    width: 400px;
    height: 40px;
}
.information{
    display: inline-flex;
    flex-direction: column;
}
.b1{
    color: white;
    background-color: red;
    margin-right: 25%;
    margin-left: 25%;
    height: 60px;
    width: 400px;
    font-size: large;
    box-shadow: 0px 1px 3px;
}
.Email{
    color: white;
    background-color: rgb(83, 82, 82);
    width: 600px;
    height: 40px;
}
.block3{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(22, 22, 22, 0.918);
    height:250px;
}
.b2{
    color: white;
    background-color: rgba(22, 22, 22, 0.918);
    margin-right: 25%;
    margin-left: 25%;
    height: 60px;
    width: 400px;
    font-size: large;
    border: rgb(255, 255, 255) 1px solid ;
    box-shadow: 1px 2px 3px;
}
.end{
    text-align: center;
    color: black;
    background-color: rgb(83, 82, 82);
}